.topproduct {
  .heading {
    text-align: left;
  }
  .head {
    @include flex(center, space-between, center);
  }
  .category {
    @extend .head;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    select{
      cursor: pointer;
      padding: 5px 0;
      background-color:#e5e7eb ;
    }
  }
}
